header {
  background-color: var(--accent);
  color: var(--primary);
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.title {
  font-size: clamp(28.8px, 2vw, 60px);
  line-height: 170%;
  letter-spacing: 0.04em;
  font-weight: 400;
  text-align: center;

  max-width: 80%;
  margin: 0 auto;
}
