.list-header {
  display: flex;
  align-items: center;
  min-height: 84px;
}
.list-header > p {
  margin-left: auto;
}
ul {
  padding-left: 0;
}
li {
  display: flex;
  align-items: stretch;
}
li > a {
  min-height: 84px;
  width: 100%;
  border-bottom: 1px solid #ffffff1a;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
