header {
  position: fixed;
  right: 0;
  left: 0;
  max-height: var(--header-height);
  height: 100vh;
  padding: 0 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: var(--transition);

  background-color: var(--background);
  z-index: 100;
}
.scrolled {
  max-height: 60px;
  box-shadow: var(--shadow);
}
header a {
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  color: inherit;
}
header > a,
header > .nav-button {
  z-index: 20;
}
nav a {
  padding: 10px 25px;
}
nav a span {
  color: var(--accent);
}
nav .box-link {
  padding: 0.75em 1.75em;
  width: fit-content;
}
.expanded {
  display: flex;
}
nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  background-color: var(--background);
  transition: var(--transition);
}
.nav-button {
  height: 26px;
  padding: 5px;
}

@media (min-width: 870px) {
  .nav-button {
    display: none;
  }
  nav {
    display: block;
    position: unset;
  }
  nav a {
    margin-left: 25px;
  }
  .expanded {
    display: block;
  }
}
.hidden {
  display: none;
}

@media (min-width: 480px) {
  header {
    padding: 0px 50px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1080px) {
}
