nav {
  position: fixed;
  top: 25px;
  left: 20px;
  right: 20px;
}
.menu-button {
  margin-left: auto;
  width: 45px;
  cursor: pointer;
  padding: 10px;
}
.menu-button > div {
  height: 2px;
  width: 100%;
  background: black;
  margin: 5px 0px;
}

/* first small jump */
@media (min-width: 360px) {
  nav {
    left: 30px;
    right: 30px;
  }
}
/* still vertical tablet */
@media (min-width: 768px) {
  nav {
    top: 40px;
    left: 40px;
    right: 40px;
  }
}
/* horizontal swap */
@media (min-width: 1024px) {
}
/* first pc */
@media (min-width: 1200px) {
  nav {
    top: 60px;
    left: 60px;
    right: 60px;
  }
}
/* small jump for pc */
@media (min-width: 1350px) {
}

@media (min-width: 1600px) {
}
