.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
.gallery-item {
  background: rgba(255, 255, 255, 0.05);
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}
.gallery-item > img {
  position: absolute;
  max-width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
@media (min-width: 425px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
