.mail {
  font-size: max(2.8vw, 24px);
  margin: 25px 0;
}
#contact > .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-links {
  display: flex;
  gap: 40px;
}
#contact {
  padding-bottom: 360px;
}
