#hero {
  height: calc(100vh - var(--nav));

  display: flex;
  align-items: center;

  font-size: max(1.8vw, 24px);
  line-height: 1.4;
}
#hero label {
  margin: 0 auto;
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  text-align: center;
}
