#works {
  padding-bottom: 360px;
}
.filters {
  gap: 1.5625rem;
}
.filters > div {
  cursor: pointer;
}
.filters > p {
  margin-left: auto;
}
.project {
  justify-content: space-between;
}
.project,
.filters {
  min-height: 84px;
  border-bottom: 1px solid #ffffff1a;

  display: flex;
  align-items: center;
}
.filters > div {
  display: flex;
}
