@font-face {
  font-family: "Circular Std";
  src: url("./font/circular/Circular Std Book.eot");
  src: url("./font/circular/Circular Std Book.woff2") format("woff2"),
    url("./font/circular/Circular Std Book.woff") format("woff"),
    url("./font/circular/Circular Std Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("./font/circular/Circular Std Medium.eot");
  src: url("./font/circular/Circular Std Medium.woff2") format("woff2"),
    url("./font/circular/Circular Std Medium.woff") format("woff"),
    url("./font/circular/Circular Std Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("./font/circular/Circular Std Bold.eot");
  src: url("./font/circular/Circular Std Bold.woff2") format("woff2"),
    url("./font/circular/Circular Std Bold.woff") format("woff"),
    url("./font/circular/Circular Std Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: "Circular Std";
  box-sizing: border-box;
}
:root {
  --accent: #cc9846;
  --disabled: #d1d3d4;

  --border: #cddce2;
  --waiting: #dd7b7b;
  --background: #212121;

  --background2: #f2f2f2;
}
