nav {
  position: fixed;
  left: 0;
  right: 0;

  color: var(--white);
}
nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
}
.nav-links > a {
  margin-left: 40px;
}
