.filters {
  gap: 1.5625rem;
}
.project {
  justify-content: space-between;
}
.project,
.filters {
  min-height: 84px;
  border-bottom: 1px solid #ffffff1a;

  display: flex;
  align-items: center;
}
label {
  opacity: 0.5;
  font-size: 0.5625rem;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
small {
  font-size: 0.5625rem;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #fff;
  margin-left: 0.3125rem;
  opacity: 0.3;
}
.filters > div {
  display: flex;
}
