header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: var(--header);
  padding: 0 min(70px, 5%);
  background-color: var(--gray);
}
nav {
  display: flex;
}
nav > a {
  margin-left: 40px;
}
